<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ebrightmoon.ui">

    <uses-permission android:name="android.permission.INTERNET" />

    <application>
        <activity
            android:name=".page.UiHomeActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".page.test.UiDialogActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".page.test.UIToastyActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".page.test.UiHttpActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".page.test.UITouchActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".page.databinding.UIDataBindingActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".page.test.UISideBarActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".page.kotlin.KotlinTestActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".page.test.CustomViewActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".page.test.DebugActivity"
            android:exported="false"
            android:screenOrientation="portrait" />


    </application>

</manifest>