<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ebrightmoon.ui">

    <application>
        <activity android:name=".page.UiHomeActivity"/>
        <activity android:name=".page.WebViewActivity"/>
    </application>

</manifest>