*.iml
.gradle
/local.properties
/.idea/libraries
/.idea/caches/
.idea/
/.idea/
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/captures
.externalNativeBuild
/gradle/
app/build
baseLib/magicindicator/build/
baseLib/photoview/build/
baseLib/banner/build/
baseLib/pickerview/build/
baseLib/magicindicator/build/
baseLib/viewanimations/build/
baseLib/alertview/build/
baseLib/kprogresshud/build/
baseLib/dNSCache/build/
baseLib/volley/build/
baseLib/toasty/build/
common_data/build/
main_module/build/
module_user/build/
ui_module/build/
HttpClient/build/
common_module/build/
cameralib/build/
webviewlib/build/



