<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ebrightmoon.user"> <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application>



        <activity android:name=".UserMainActivity"
            android:exported="false"
            />

        <activity
            android:name=".page.LoginUserActivity"
            android:screenOrientation="portrait"
            android:exported="false"
            android:theme="@style/AppThemeLogin"
            />
        <activity
            android:name=".page.RegisterUserActivity"
            android:screenOrientation="portrait"
            android:exported="false"
            android:theme="@style/AppThemeLogin"
            />
        <activity
            android:name=".page.SettingUserActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

    </application>

</manifest>