<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ebrightmoon.main">

    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />

    <application>
        <activity android:name=".MainActivity"
            android:exported="true"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.HomeMainActivity"
            android:screenOrientation="portrait"
            android:exported="false"
            android:theme="@style/AppMainTheme" />

        <activity
            android:name=".ui.activity.SearchMainActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity android:name=".ui.activity.TestActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
    </application>

</manifest>