<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ebrightmoon.main">

    <application
        android:name=".debug.MainApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/BaseAppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.activity.HomeMainActivity"
            android:label="@string/title_activity_home_main"
            android:theme="@style/AppMainTheme" />

        <activity
            android:name=".ui.activity.SettingMainActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.activity.SearchMainActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.activity.RegisterMainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.LoginMainActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>